@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Syncopate:700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.content {
  margin: 10px auto;
  text-align: center;
}
.centertext {
  text-align: center;
}
.vl:not(:last-child){
  border-right: 2px solid rgb(0, 0, 0);
  height: auto;
}
.modallinks{
  text-transform: uppercase;
  font-family: Arial;
  color: #282c34

}
.heading {
  font-weight: bolder;
  text-transform: uppercase;
  font-family: sans-serif;
}
#itemlist{
  width : 90%;
  margin-left: auto;
  margin-right: auto;
}
.img-responsive{
  max-width: 100%;
  display: block;
  margin-left: auto;
	margin-right: auto;
  padding-top: 10px;
}
.itemcard{
  margin: auto;
  box-shadow: 2px 3px 6px #d6d5d5;
}
.savebtn{
  border: 2px solid #fc5878 ;
  border-radius: 0px;
  color: #f83159;
  width : 100px;
  height: 32px;
  text-align: center;
  font-family: Montserrat , Arial;
  font-weight: bold ;
  font-size: 18px;
  float: left;
  margin-top: 9px;
}
.savebtn:hover {
  color: #fff;
  background-color: #f83159;
}
.icon1{
  position: relative;
  float: right;
  margin-right: 7px;
  margin-top: 4px;
}
.icon2{
  position: relative;
  float: right;
  margin-top: 9px;
  margin-right: 5px;
}
.icondetails{
  font-size: 9px;
  font-weight: bold ;
  position: relative;
  font-family: Arial;
  float: right;
  margin-top: -8px;

}
.icontext2{
  margin-right: 4px;
}
.icontext1{
  padding-right: 6px;
}
#img-product{
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#productimg-div{
  float: left;
  margin-top: -24px;
  margin-left: -24px;
  width: 55%;
  box-shadow: 0px 3px 2px #cecece;
}
#otherimgs-div{
  width: 55%;
  margin-left: -24px;
  text-align: center;
}
.other-imgs{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 2px 3px 1px #cecece;
}
.otherimgs-link :hover{
  border: 1px solid #525252 ;
}
#prod-mainimg{
  border: 1px solid #525252 ;
}
#prodetails-div{
  float: right;
  width: 45%;
  margin-top: -10px;
}
#prod-heading{
  font-family: 'Ubuntu', sans-serif, Arial;
  font-weight: 900;
  color: black;
}
#prod-seller{
  font-family: 'Ubuntu',sans-serif, Arial;
  color: black;
  font-size: 20px;
  margin-top: -15px;
}
#prod-line{
  color: #f5f5f5;
  filter: blur(0.5px)
}
#prod-oldinr{
  font-family: Montserrat , Arial;
  color: #777777;
  font-size: 15px;
  font-weight: bold;
  text-decoration: line-through;
}
#prod-buttons{
  text-align: center;
}
.prodbtns{
  width: 100%;
  height: 50px;
}
#size-btn{
  border: 1px solid #fc5878 ;
  border-radius: 0px;
  color: #f83159  ;
  font-weight: bold;
}
#size-btn:hover {
  color: #fff;
  background-color: #f83159;
}
#qty-btn{
  border: 1px solid #fc5878 ;
  border-radius: 0px;
  color: #f83159  ;
  font-weight: bold;
}
#qty-btn:hover {
  color: #fff;
  background-color: #f83159;
}
#cart-btn{
  border: 1px solid #fc5878 ;
  border-radius: 0px;
  color: #f83159  ;
  font-weight: bold;
}
#cart-btn:hover {
  color: #fff;
  background-color: #f83159;
}
#save-btn{
  border: 1px solid #fc5878 ;
  border-radius: 0px;
  color: #f83159  ;
  font-weight: bold;
}
#save-btn:hover {
  color: #fff;
  background-color: #f83159;
}
#repost-btn{
  border: 1px solid #fc5878 ;
  border-radius: 0px;
  color: #f83159  ;
  font-weight: bold;
}
#repost-btn:hover {
  color: #fff;
  background-color: #f83159;
}
#prod-share-div{
  text-align: center;
}
.share-img{
  margin-left: 6%;
  margin-right: 6%;
}
#prod-menu-div{
  width:30%;
}
#menu-content-div{
  margin-left:30%;
  width:70%;
  margin-top: -200px;
}